#############################
# Core EditorConfig Options #
#############################

root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

# Code files
[*.{cs,csx}]
indent_size = 4
max_line_length = 150
file_header_template = unset

# Xml project files
[*.{csproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Sln solution files
[*.{sln}]
indent_size = 4
indent_style = tab

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON and YML files
[*.{json,yml}]
indent_size = 2

# Scripting files
[*.{ps1,bat,cmd}]
indent_size = 4

##################################
# Language and unnecessary rules #
##################################

[*.{cs}]

# Remove unnecessary using directives
dotnet_diagnostic.IDE0005.severity = suggestion

csharp_prefer_simple_using_statement = false:suggestion
csharp_prefer_simple_default_expression = false:suggestion
csharp_prefer_static_local_function = true:suggestion
csharp_prefer_braces = when_multiline
csharp_using_directive_placement = outside_namespace:silent
dotnet_code_quality_unused_parameters = all:suggestion

csharp_style_prefer_method_group_conversion = true:silent
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion

csharp_style_prefer_local_over_anonymous_function = false:suggestion
csharp_style_prefer_index_operator = false:suggestion
csharp_style_prefer_range_operator = false:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent

csharp_style_allow_blank_lines_between_consecutive_braces_experimental = true:silent
csharp_style_allow_embedded_statements_on_same_line_experimental = true:silent
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:silent
csharp_style_prefer_parameter_null_checking = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:silent
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_prefer_not_pattern = true:silent
csharp_style_prefer_extended_property_pattern = true:suggestion

# Expression-bodied members
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_constructors = when_on_single_line:suggestion
csharp_style_expression_bodied_operators = when_on_single_line:suggestion
csharp_style_expression_bodied_local_functions = true:suggestion
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent

# 'var' preferences
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:suggestion

# this. and Me. preferences
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion

dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = false:suggestion
dotnet_style_prefer_auto_properties = true:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_readonly_field = true:suggestion
dotnet_style_predefined_type_for_member_access = true:silent
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_allow_statement_immediately_after_block_experimental = true:silent
dotnet_style_allow_multiple_blank_lines_experimental = true:silent
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:silent

csharp_style_prefer_utf8_string_literals = true:suggestion

####################
# Formatting rules #
####################

[*.{cs}]

# Formatting rule violation
dotnet_diagnostic.IDE0055.severity = suggestion

# .NET formatting options
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# C# formatting options
##New-line options
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

## Indentation options
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = one_less_than_current
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = false

## Spacing options
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false

## Wrap options
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

###########################
# Code-style naming rules #
###########################

[*.{cs}]

# Interfaces are PascalCase and start with I
dotnet_naming_style.interface_name_style.capitalization = pascal_case
dotnet_naming_symbols.interface_symbols.applicable_kinds = interface
dotnet_naming_rule.interface_must_start_with_lower_case.severity = warning
dotnet_naming_rule.interface_must_start_with_lower_case.symbols = interface_symbols
dotnet_naming_rule.interface_must_start_with_lower_case.style = interface_name_style
dotnet_naming_style.interface_name_style.required_prefix = I

# Non-private static fields are PascalCase
dotnet_naming_style.non_private_static_field_style.capitalization = pascal_case
dotnet_naming_symbols.non_private_static_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_static_fields.applicable_accessibilities = public, protected, internal, protected_internal, private_protected
dotnet_naming_symbols.non_private_static_fields.required_modifiers = static
dotnet_naming_rule.non_private_static_fields_should_be_pascal_case.severity = warning
dotnet_naming_rule.non_private_static_fields_should_be_pascal_case.symbols = non_private_static_fields
dotnet_naming_rule.non_private_static_fields_should_be_pascal_case.style = non_private_static_field_style

# Non-private readonly fields are PascalCase
dotnet_naming_style.non_private_readonly_field_style.capitalization = camel_case
dotnet_naming_symbols.non_private_readonly_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_readonly_fields.applicable_accessibilities = public, protected, internal, protected_internal, private_protected
dotnet_naming_symbols.non_private_readonly_fields.required_modifiers = readonly
dotnet_naming_rule.non_private_readonly_fields_should_be_pascal_case.severity = warning
dotnet_naming_rule.non_private_readonly_fields_should_be_pascal_case.symbols = non_private_readonly_fields
dotnet_naming_rule.non_private_readonly_fields_should_be_pascal_case.style = non_private_readonly_field_style

# Constants are PascalCase
dotnet_naming_style.constant_style.capitalization = pascal_case
dotnet_naming_symbols.constants.applicable_kinds = field, local
dotnet_naming_symbols.constants.required_modifiers = const
dotnet_naming_rule.constants_should_be_pascal_case.severity = warning
dotnet_naming_rule.constants_should_be_pascal_case.symbols = constants
dotnet_naming_rule.constants_should_be_pascal_case.style = non_private_static_field_style

# Fields, locals and parameters are camelCase
dotnet_naming_style.camel_case_style.capitalization = camel_case
dotnet_naming_symbols.fields_locals_and_parameters.applicable_kinds = parameter, local, field
dotnet_naming_rule.fields_should_be_camel_case.severity = warning
dotnet_naming_rule.fields_should_be_camel_case.symbols = fields_locals_and_parameters
dotnet_naming_rule.fields_should_be_camel_case.style = non_private_readonly_field_style

# By default, name items with PascalCase
dotnet_naming_style.pascal_case_style.capitalization = pascal_case
dotnet_naming_symbols.all_members.applicable_kinds = *
dotnet_naming_rule.members_should_be_pascal_case.severity = warning
dotnet_naming_rule.members_should_be_pascal_case.symbols = all_members
dotnet_naming_rule.members_should_be_pascal_case.style = non_private_static_field_style

dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = warning
dotnet_naming_rule.unity_serialized_field_rule.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds =
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance

######################
# Code quality rules #
######################

[*.{cs}]

# Use const instead of static readonly when appropriate
dotnet_diagnostic.CA1802.severity = warning

# Do not create unnecessary objects
dotnet_diagnostic.CA1806.severity = suggestion

# Comparing strings using the String.Length property or the String.IsNullOrEmpty method is faster than using Equals.
dotnet_diagnostic.CA1820.severity = warning

# Remove empty finalizers
dotnet_diagnostic.CA1821.severity = warning

# Do not use Count/LongCount when Any can be used
dotnet_diagnostic.CA1827.severity = warning

# Do not use CountAsync/LongCountAsync when AnyAsync can be used
dotnet_diagnostic.CA1828.severity = warning

# Use Length/Count property instead of Enumerable.Count method
dotnet_diagnostic.CA1829.severity = warning

# Prefer IsEmpty over Count when available
dotnet_diagnostic.CA1836.severity = warning

# A method includes a parameter that's not used in the method body
dotnet_diagnostic.CA1801.severity = warning

# Add call to 'ConfigureAwait'
dotnet_diagnostic.RCS1090.severity = silent

# Do not directly await a Task
dotnet_diagnostic.CA2007.severity = silent

#############
# ReSharper #
#############

[*.{cs}]

# Blank Lines
## General
csharp_blank_lines_around_region = 1
csharp_blank_lines_inside_region = 1
csharp_blank_lines_before_single_line_comment = 1

## Blank lines in declarations
csharp_keep_blank_lines_in_declarations = 1
csharp_remove_blank_lines_near_braces_in_declarations = true
csharp_blank_lines_after_start_comment = 0
csharp_blank_lines_between_using_groups = 0
csharp_blank_lines_after_using_list = 1
csharp_blank_lines_around_namespace = 1
csharp_blank_lines_inside_namespace = 0
csharp_blank_lines_after_file_scoped_namespace_directive = 1
csharp_blank_lines_around_type = 1
csharp_blank_lines_around_single_line_type = 0
csharp_blank_lines_inside_type = 0
csharp_blank_lines_around_field = 0
csharp_blank_lines_around_single_line_field = 0
csharp_blank_lines_around_property = 0
csharp_blank_lines_around_single_line_property = 0
csharp_blank_lines_around_auto_property = 0
csharp_blank_lines_around_single_line_auto_property = 0
csharp_blank_lines_around_accessor = 0
csharp_blank_lines_around_single_line_accessor = 0
csharp_blank_lines_around_invocable = 1
csharp_blank_lines_around_single_line_invocable = 0

## Blank lines in code
csharp_keep_blank_lines_in_code = 1
csharp_remove_blank_lines_near_braces_in_code = true
csharp_blank_lines_around_local_method = 0
csharp_blank_lines_around_single_line_local_method = 0
csharp_blank_lines_before_control_transfer_statements = 0
csharp_blank_lines_after_control_transfer_statements = 0
csharp_blank_lines_before_block_statements = 0
csharp_blank_lines_after_block_statements = 0
csharp_blank_lines_before_multiline_statements = 0
csharp_blank_lines_after_multiline_statements = 0
csharp_blank_lines_around_block_case_section = 0
csharp_blank_lines_around_multiline_case_section = 0
csharp_blank_lines_before_case = 0
csharp_blank_lines_after_case = 0

# Braces Layout
csharp_brace_style = next_line
csharp_indent_inside_namespace = true
csharp_use_continuous_indent_inside_initializer_braces = true
csharp_allow_comment_after_lbrace = false
csharp_empty_block_style = multiline

# Syntax Style
## 'var' usage in declarations
csharp_for_built_in_types = use_var
csharp_for_simple_types = use_var
csharp_for_other_types = use_var
csharp_prefer_separate_deconstructed_variables_declaration = false
csharp_prefer_explicit_discard_declaration = false

## Built-in types
csharp_builtin_type_reference_style = use_keyword
csharp_builtin_type_reference_for_member_access_style = use_keyword

## Reference qualification and 'using' directives
csharp_prefer_qualified_reference = false
csharp_add_imports_to_deepest_scope = false
csharp_qualified_using_at_nested_scope = false
csharp_allow_alias = true
csharp_can_use_global_alias = true

## Modifiers
csharp_default_private_modifier = explicit
csharp_default_internal_modifier = explicit

## Arguments
csharp_arguments_literal = positional
csharp_arguments_string_literal = positional
csharp_arguments_named = positional
csharp_arguments_anonymous_function = positional
csharp_arguments_other = positional

## Parentheses
csharp_parentheses_redundancy_style = remove_if_not_clarifies_precedence
csharp_parentheses_group_non_obvious_operations = conditional

## Braces
csharp_braces_for_ifelse = required_for_multiline
csharp_braces_for_for = required_for_multiline
csharp_braces_for_foreach = required_for_multiline
csharp_braces_for_while = required_for_multiline
csharp_braces_for_dowhile = required_for_multiline
csharp_braces_for_using = required_for_multiline
csharp_braces_for_lock = required_for_multiline
csharp_braces_for_fixed = required_for_multiline
csharp_braces_redundant = true

## Code body
csharp_method_or_operator_body = block_body
csharp_local_function_body = block_body
csharp_constructor_or_destructor_body = block_body
csharp_accessor_owner_body = expression_body
csharp_namespace_body = file_scoped

## Attributes
csharp_force_attribute_style = separate

## Trailing comma
csharp_trailing_comma_in_multiline_lists = false
csharp_trailing_comma_in_singleline_lists = false

## Object creation
csharp_object_creation_when_type_evident = target_typed
csharp_object_creation_when_type_not_evident = explicitly_typed

## Default value
csharp_default_value_when_type_evident = default_literal
csharp_default_value_when_type_not_evident = default_literal

## Patterns
csharp_null_checking_pattern_style = not_null_pattern

# Tabs, Indents, Alignment
## Nested statements
csharp_indent_nested_usings_stmt = false
csharp_indent_nested_fixed_stmt = false
csharp_indent_nested_lock_stmt = false
csharp_indent_nested_for_stmt = false
csharp_indent_nested_foreach_stmt = false
csharp_indent_nested_while_stmt = false

## Parenthesis
csharp_use_continuous_indent_inside_parens = false
csharp_indent_method_decl_pars = inside
csharp_indent_primary_constructor_decl_pars = inside
csharp_indent_invocation_pars = inside
csharp_indent_statement_pars = inside
csharp_indent_typeparam_angles = inside
csharp_indent_typearg_angles = inside
csharp_indent_pars = inside

## Preprocessor directives
csharp_indent_preprocessor_if = no_indent
csharp_indent_preprocessor_region = usual_indent
csharp_indent_preprocessor_other = no_indent

## Other indents
csharp_outdent_statement_labels = false
csharp_indent_type_constraints = true
csharp_stick_comment = false
csharp_place_comments_at_first_column = false
csharp_indent_braces_inside_statement_conditions = true

## Align multiline constructs
csharp_alignment_tab_fill_style = use_spaces
csharp_align_multiline_parameter = false
csharp_align_multiline_extends_list = false
csharp_align_linq_query = true
csharp_align_multiline_binary_expressions_chain = true
csharp_outdent_binary_ops = false
csharp_align_multiline_calls_chain = false
csharp_outdent_dots = false
csharp_align_multiline_array_and_object_initializer = false
csharp_align_multiline_switch_expression = false
csharp_align_multiline_property_pattern = false
csharp_align_multiline_list_pattern = false
csharp_align_multiline_binary_patterns = false
csharp_outdent_binary_pattern_ops = false
csharp_indent_anonymous_method_block = false
csharp_align_first_arg_by_paren = false
csharp_align_multiline_argument = false
csharp_align_tuple_components = false
csharp_align_multiline_expression = false
csharp_align_multiline_statement_conditions = true
csharp_align_multiline_for_stmt = true
csharp_align_multiple_declaration = false
csharp_align_multline_type_parameter_list = false
csharp_align_multline_type_parameter_constrains = false
csharp_outdent_commas = false
csharp_align_multiline_comments = true
csharp_indent_raw_literal_string = align
csharp_int_align = false

# Line Breaks
## General
csharp_keep_existing_arrangement = true
csharp_wrap_before_comma = false
csharp_wrap_before_eq = false
csharp_special_else_if_treatment = true

## Arrangement of attributes
csharp_keep_existing_attribute_arrangement = false
csharp_place_attribute_on_same_line = never
csharp_place_record_field_attribute_on_same_line = if_owner_is_single_line

## Arrangement of method signatures
csharp_wrap_parameters_style = chop_if_long
csharp_keep_existing_declaration_parens_arrangement = true
csharp_wrap_before_declaration_lpar = false
csharp_wrap_after_declaration_lpar = true
csharp_wrap_before_declaration_rpar = false

## Arrangement of primary constructor signatures
csharp_wrap_primary_constructor_parameters_style = chop_if_long
csharp_keep_existing_primary_constructor_declaration_parens_arrangement = false
csharp_wrap_before_primary_constructor_declaration_lpar = false
csharp_wrap_after_primary_constructor_declaration_lpar = true
csharp_wrap_before_primary_constructor_declaration_rpar = false

## Arrangement of expression bodied members
csharp_place_expr_method_on_single_line = if_owner_is_single_line
csharp_place_expr_property_on_single_line = if_owner_is_single_line
csharp_place_expr_accessor_on_single_line = if_owner_is_single_line
csharp_wrap_before_arrow_with_expressions = false

## Arrangement of type parameters, constraints, and base types
csharp_place_type_constraints_on_same_line = true
csharp_wrap_before_first_type_parameter_constraint = false
csharp_wrap_multiple_type_parameter_constraints_style = chop_always
csharp_wrap_before_type_parameter_langle = false
csharp_wrap_before_extends_colon = false
csharp_wrap_before_extends_colon = false
csharp_wrap_extends_list_style = wrap_if_long

## Arrangement of declaration blocks
csharp_keep_existing_declaration_block_arrangement = false
csharp_place_simple_declaration_blocks_on_single_line = false
csharp_place_abstract_accessorholder_on_single_line = true
csharp_place_simple_accessor_on_single_line = true

## Arrangement of enumerations
csharp_keep_existing_enum_arrangement = false

## Arrangement of statements
csharp_new_line_before_while = false
csharp_wrap_for_stmt_header_style = chop_if_long
csharp_wrap_multiple_declaration_style = chop_if_long

## Arrangement of embedded statements
csharp_keep_existing_embedded_arrangement = false
csharp_place_simple_embedded_statement_on_same_line = never
csharp_place_simple_case_statement_on_same_line = never

## Arrangement of embedded blocks

## Arrangement of switch expressions
csharp_keep_existing_switch_expression_arrangement = false
csharp_place_simple_switch_expression_on_single_line = false
csharp_wrap_switch_expression = chop_always

## Arrangement of property patterns
csharp_keep_existing_property_patterns_arrangement = false
csharp_place_simple_property_pattern_on_single_line = false
csharp_wrap_property_pattern = chop_always

## Arrangement of list patterns

## Arrangement of initializers
csharp_keep_existing_initializer_arrangement = false
csharp_place_simple_initializer_on_single_line = true
csharp_max_initializer_elements_on_line = 1

## Arrangement of invocations
csharp_keep_existing_invocation_parens_arrangement = true
csharp_wrap_before_invocation_lpar = false
csharp_wrap_before_invocation_rpar = false

## Arrangement of member access expressions
csharp_wrap_after_dot_in_method_calls = false
csharp_wrap_before_first_method_call = false

## Arrangement of binary expressions
csharp_wrap_before_binary_opsign = false
csharp_wrap_chained_binary_expressions = wrap_if_long
csharp_wrap_before_binary_pattern_op = false
csharp_wrap_chained_binary_patterns = wrap_if_long
csharp_force_chop_compound_if_expression = false
csharp_force_chop_compound_while_expression = false
csharp_force_chop_compound_do_expression = false

## Arrangement of ternary expressions
csharp_wrap_before_ternary_opsigns = true
csharp_wrap_ternary_expr_style = chop_if_long
csharp_nested_ternary_style = simple_wrap

## Arrangement of LINQ expressions
csharp_wrap_linq_expressions = chop_if_long
csharp_wrap_before_linq_expression = false
csharp_place_linq_into_on_new_line = false

## Arrangement of interpolated strings
csharp_wrap_verbatim_interpolated_strings = no_wrap

# Spaces
## Preserve existing formatting
csharp_extra_spaces = remove_all

## Before parentheses in statements

## Before other parentheses
csharp_space_before_typeof_parentheses = false
csharp_space_before_default_parentheses = false
csharp_space_before_checked_parentheses = false
csharp_space_before_sizeof_parentheses = false
csharp_space_before_nameof_parentheses = false
csharp_space_before_new_parentheses = false
csharp_space_between_keyword_and_expression = true
csharp_space_between_keyword_and_type = true

## Within parentheses in statements
csharp_space_between_parentheses_of_control_flow_statements = false

## Within other parentheses
csharp_space_within_parentheses = false
csharp_space_between_typecast_parentheses = false
csharp_space_within_typeof_parentheses = false
csharp_space_within_default_parentheses = false
csharp_space_within_checked_parentheses = false
csharp_space_within_sizeof_parentheses = false
csharp_space_within_nameof_parentheses = false
csharp_space_within_new_parentheses = false

## Around angle brackets
csharp_space_before_type_parameter_angle = false
csharp_space_before_type_argument_angle = false
csharp_space_within_type_parameter_angles = false
csharp_space_within_type_argument_angles = false

## Around braces
csharp_space_before_singleline_accessorholder = true
csharp_space_in_singleline_accessorholder = true
csharp_space_between_accessors_in_singleline_property = true
csharp_space_within_empty_braces = true
csharp_space_in_singleline_method = true
csharp_space_in_singleline_anonymous_method = true
csharp_space_within_single_line_array_initializer_braces = true

## Around binary operators
csharp_space_around_binary_operator = true
csharp_space_around_member_access_operator = false

## After unary operators
csharp_space_after_unary_operator = false
csharp_space_near_postfix_and_prefix_op = false

## In ternary operator
csharp_space_around_ternary_operator = true

## Around comma and semicolon
csharp_space_before_semicolon = false

## Around colon
csharp_space_before_type_parameter_constraint_colon = true
csharp_space_after_type_parameter_constraint_colon = true
csharp_space_before_colon_in_case = false
csharp_space_after_colon_in_case = true
csharp_space_before_attribute_colon = false
csharp_space_after_colon = true

## Attributes
csharp_space_between_attribute_sections = true
csharp_space_after_attributes = true

## Other
# csharp_space_after_cast = false
csharp_space_around_lambda_arrow = true
csharp_space_before_pointer_asterik_declaration = false
csharp_space_before_nullable_mark = false
csharp_space_around_alias_eq = true
csharp_space_before_trailing_comment = true
csharp_space_after_operator_keyword = true
csharp_space_within_slice_pattern = true

# ReSharper properties
resharper_autodetect_indent_settings = true
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_use_indent_from_vs = false

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_razor_assembly_not_resolved_highlighting = warning
resharper_redundant_base_qualifier_highlighting = warning
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

#########
# Razor #
#########

[*.{razor}]

# HTML
html_linebreaks_around_razor_statements = true
html_blank_lines_around_razor_functions = 0
html_blank_lines_around_razor_helpers = 0
html_blank_lines_around_razor_sections = 0
razor_remove_blank_lines_near_braces = true
html_sort_attributes = true
html_sort_class_selectors = true
html_extra_spaces = remove_all
html_normalize_tag_names = true

# Attributes
csharp_force_attribute_style = separate
csharp_keep_existing_attribute_arrangement = false
csharp_place_attribute_on_same_line = never
csharp_place_record_field_attribute_on_same_line = if_owner_is_single_line
